{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}食材追加{% endblock %}

{# このページに適用させたいスタイルシートを指定します #}
{% block header_scripts_add %}
  <style>
    .btn {
      position: relative;
      display: inline-block;
      font-weight: bold;
      padding: 0.25em 0.5em;
      text-decoration: none;
      color: #FFF;
      background: #faab00;
      transition: 0.4s;
      width: 300px;
    }

    .btn:hover {
      background: #ffae00;
    }

    h1 {
      background: linear-gradient(transparent 50%, #a7d6ff 70%);
    }
  </style>
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
  <div class="page-header text-center">
    <h1>食材追加</h1>
  </div>
  <div class="container">
    <div class="box">
      <div class="row">
        <div class="col-md-12">
          <div class="well">
            <form id="loginForm" method="POST" action="/refrigerator/add/">
              {% if error %}
                <div class="form-group">
                  <div class="alert alert-danger" role="alert">{{ error }}</div>
                </div>
              {% endif %}
              <div class="form-group">
                <label for="name" class="control-label">
                  <span class="badge badge-danger">必須</span>
                  食材名</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ name }}" required="required" title="Please enter you email" placeholder="食材名を入れてください">
              </div>
              <div class="form-group">
                <label for="number" class="control-label">
                  <span class="badge badge-danger">必須</span>
                  個数
                  <input type="number" class="form-control" id="num" name="num" value="{{ num }}" required="required" title="Please enter your address" placeholder="買った個数を入れてください">
                </div>
                <button type="submit" class="btn">登録する！</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}

  {#共通フッタとして追記したい情報を記載します。#}
  {% block footer_scripts_add %}{% endblock %}
