{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}Refrigist(仮){% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="page-header text-center">
    </div>
    <div class="container">
        <div class="box">
            <div class="row">
              <div>
                <p>
                  <a href="recipe.twig"><img src="/assets/img/recipe.png" class="top-img-responsive center-block" alt="レシピ"></a>
                </p>
                <p>
                  <button type="button" class="btn btn-lg"><a href="recipe/add.html">登録する</a></button>
                  <button type="button" class="btn btn-lg"><a href="recipe/list.html" class="btn-square">一覧を見る</a></button>
                </p>

            </div>
        </div>
    </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
