
<style>
  .footer{
    background-color: #F8F9FA;
    height: 60px;
  }
</style>

<footer>
    <div class="container-fluid text-center footer">
      <p>2019 SummerInternShip<br>
      n-imai@ceres-inc.jp</p>

    </div>
</footer>
