<style type="text/css">
div {
  border: solid 1px; /*グリッドラインを出す*/
}

div{
  width: 300px;
  padding: 5px;              /*ボックス内の幅を調整する【padding】*/
  margin: 5px auto;          /* ボックスの外側に幅を持たせ、真ん中に寄せる【margin】*/
  text-align: center;
}

.back div{
  background-color: rgba(255,255,255,0.5);
  border-radius: 30px;
}

.btn {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #faab00;
  transition: .4s;
}

.btn:hover {
  background: #ffae00;
}

a:link { color: #333; }
a:visited { color: #333; }
a:hover { color: #333; }
a:active { color: #333; }

</style>
